{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<body>
    <header>
        <div class="example-wrapper">
            <h1>Le p'tit jardinier </h1>

            <h2>Des professionels à votre service <h2>
            
            <img src="asset/image/Logo_jardinier.jpg" alt="logo">

        </div>
    </header>
</body>
{% endblock %}
