{% extends 'base.html.twig' %}

{% block title %}New Haie{% endblock %}

{% block body %}

<body>
    <header>
        <div class="example-wrapper">

            <h1>Create new Haie</h1>

            {{ include('haie_crud/_form.html.twig') }}

            <a href="{{ path('app_haie_crud_index') }}">back to list</a>
        </div>
    </header>
</body>
{% endblock %}
